<!DOCTYPE html>
{% autoescape true %}
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177058067-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-177058067-1');
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to hama28.com</title>
    <link rel='stylesheet' href='/static/css/topstyle.css'>
</head>
<body>
    <h1><span>Welcome to hama28.com</span></h1>
    <h1><a href="/portfolio"><span>Go Portfolio</span><span></span></a></h1>
</body>
</html>
{% endautoescape %}