<!DOCTYPE html>
{% autoescape true %}
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177058067-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'UA-177058067-1');
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to hama28.com</title>
    <link rel="stylesheet" type="text/css" href="/static/css/topstyle.css">
    <script type="text/javascript" src="/static/js/toppage.js"></script>
</head>
<body>
  <div class="neon">
      <p class="welcom">
          <span>W</span> 
          <span>e</span>
          <span>l</span>
          <span>c</span>
          <span>o</span>
          <span>m</span>
          <span>　t</span>
          <span>o</span>
      </p>
      <p class="domain">
          <span>h</span>
          <span>a</span>
          <span>m</span>
          <span>a</span>
          <span>2</span>
          <span>8</span>
          <span>.</span>
          <span>c</span>
          <span>o</span>
          <span>m</span>
      </p>
  </div>
  
  <div class="door" id="jamb" onclick="enter()">
      <div class="side" id="side1"></div>
      <div class="side" id="side2"></div>
      <div class="side" id="side3"></div>
      <div class="side" id="side4"></div>
      <div class="crack" id="door">
          <div id="knob"></div>
          <div id="porthole"></div>
      </div>
  </div>
  

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NC6VW9R"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>
</html>
{% endautoescape %}